<mat-toolbar>
 <span>CBS Students (Kvalifik)</span>
 <span class="example-spacer"></span>
  <div style="padding-right: 2em">
  <mat-icon-button routerLink="signup" routerLinkActive="active" style="cursor: pointer">
    <div>
      <mat-icon aria-hidden="false" aria-label="Example home icon">supervised_user_circle</mat-icon>
      Signup
    </div>
  </mat-icon-button>
  </div>



  <mat-mini-fab routerLink="login" routerLinkActive="active" style="cursor: pointer">
    <div>
      <mat-icon aria-hidden="false" aria-label="Example home icon">login</mat-icon>
      Login
    </div>
  </mat-mini-fab>
</mat-toolbar>


<div class="container">
  <div class="sidenav">
    <!-- Sidenav -->
    <app-sidenav></app-sidenav>
  </div>
  <div class="content">
    <!-- Content -->
    <router-outlet></router-outlet>
  </div>
</div>
