<mat-card-header style="display: flex; justify-content: center; text-align: center">
    <mat-card-title>{{post.title}}</mat-card-title>
    <mat-card-subtitle>{{post.createdDate | date: 'dd/MM/yyyy'}}</mat-card-subtitle>
</mat-card-header>
  <mat-card-content>
    <p>
      {{post.text}}
    </p>
  </mat-card-content>
  <mat-card-actions>
      <button *ngIf="auth.isLoggedIn()" mat-stroked-button color="primary"
        (click)="editPost(post.id)" class="e2e-edit">View/Edit</button>
  </mat-card-actions>


<!-- TODO: 'forbedre udseende på cards. Inkl. at text løber over -->
