<mat-selection-list [multiple]="false">
    <mat-list-option routerLink="posts" routerLinkActive="active" class="e2e-posts">
        <div>
            <mat-icon aria-hidden="false" aria-label="Example home icon">view_module</mat-icon>
            Posts
        </div>
    </mat-list-option>

    <mat-list-option routerLink="events" routerLinkActive="active">
        <div>
            <mat-icon aria-hidden="false" aria-label="Example home icon">list</mat-icon>
            Events
        </div>
    </mat-list-option>

    <mat-list-option routerLink="chats" routerLinkActive="active">
        <div>
        <mat-icon aria-hidden="false" aria-label="Example home icon">question_answer</mat-icon>
            Chats
        </div>
    </mat-list-option>

</mat-selection-list>
